:root {
  /* Website main colors */
  --background-color: #faf3ea;
  --main-color: #691c48;
  --second-color: #bd842d;

  /* Primary colors */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: ##17a2b8;

  /* Secondary colors */
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --dark: #212529;
  --light: #f8f9fa;

  /* Success colors */
  --success: #28a745;
  --success-dark: #1b7f4a;
  --success-light: #c6f4d6;

  /* Info colors */
  --info: #17a2b8;
  --info-dark: #0f6ab4;
  --info-light: #b8daff;

  /* Warning colors */
  --warning: #ffc107;
  --warning-dark: #ff9900;
  --warning-light: #fff3cd;

  /* Danger colors */
  --danger: #dc3545;
  --danger-dark: #bd2130;
  --danger-light: #f1b9b9;

  /* Neutral colors */
  --neutral: #6c757d;
  --neutral-dark: #343a40;
  --neutral-light: #f7f7f7;
}

html {
  scroll-behavior: smooth;
  transition: all 0.2s ease-in;
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  padding: none;
  margin: none;
  background: var(--danger-light);
}

nav {
  background: var(--warning-light);
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* overflow: hidden; */
}
nav #navBrand {
  width: max-content;
}
nav #navBrand a {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: center;
  align-items: center;
  gap: 0;
  text-decoration: none;
}
nav #navBrand a img {
  width: 75px;
  height: auto;
  margin-right: -10px;
}
nav #navBrand a span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 17px;
}
nav #navContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: max-content;
  align-items: center;
  padding: 0;
}
#toggleBtn::before {
  content: "\2630"
}
nav #navContent #toggleBtn {
  width: 25px;
  height: 25px;
  border: 1px solid var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  font-weight: 500;
  background-color: var(--second-color);
  border-radius: 3px;
  margin-top: 20px;
  transition: all 0.3s
}
nav #navContent #menu {
  display: flex;
  flex-direction: row;
  width: max-content;
  gap: 5px;
  transition: all 0.3s
}
nav #navContent #menu li {
  font-size: 16px;
  color: var(--main-color);
  transition: all 0.3s;
}
nav #navContent #menu li:hover {
  cursor: default;
  color: var(--second-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 500;
}
#main section .header {
  text-transform: uppercase;
}


/* RESPONSIVENESS */

/* Extra Small */
@media screen and (max-width: 576px) {
  /* NavBar */
  nav {
    width: 100%;
    height: max-content;
  }
  nav #navBrand.active {
    margin-top: -114px;
  }
  nav #navContent #toggleBtn {
    margin-bottom: 15px;
  }
  nav #navContent #toggleBtn.active {
    margin-left: -48px;
    color: var(--second-color);
    background: var(--main-color);
    border: 1px solid var(--second-color);
  }
  nav #navContent #menu.active {
    display: flex;
    flex-direction: column;
  }
  nav #navContent #menu {
    display: none;
  }

  #introduction, #historyMission, #visionValues {
    display: flex;
    flex-direction: column;
  }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-top: 100px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 50px;
    gap: 50px;
  }
  #main section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--light);
    color: var(--dark);
    padding: 15px;
    border: 0;
    border-radius: 5px;
  }
  #main section .header {
    font-size: 30px;
    color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
  }
  #main section .division {
    border: 5px solid var(--danger-light);
    margin: 0 -20px;
  }
  #main section:nth-child(2) > div:nth-child(3) > .header,
  #main section:nth-child(3) > div:nth-child(3) > .header {
    margin-top: 15px;
  }
  #main section:nth-child(2) > div > div:nth-child(2),
  #main section:nth-child(3) > div > div:nth-child(2) {
    margin-bottom: 15px;
  }

  #main section:nth-child(3) > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #footer {
    background: var(--main-color);
    color: var(--light);
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    position: relative;
  }
  #footer a {
    text-decoration: none;
    cursor: default;
    color: var(--light);
  }
  #footer > div:nth-child(1) {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 15px;
  }
  #footer > div:nth-child(1) > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #footer > div:nth-child(1) > #cont > div:nth-child(1) > div:nth-child(1),
  #footer > div:nth-child(1) > #cont > div:nth-child(2) > div:nth-child(1),
  #footer > div:nth-child(1) > #cont > div:nth-child(3) > div:nth-child(1) {
    font-size: 25px;
    text-align: center;
  }
  #footer > div:nth-child(1) > #cont > div:nth-child(1) > div:nth-child(2) > div:hover {
    color: var(--warning-light);
    cursor: default;
  }
  #footer > div:nth-child(1) > #cont > div:nth-child(2) > div:nth-child(2) a {
    display: flex;
    flex-direction: row;
    gap: 10px;
    transition: all 0.3s;
  }
  #footer > div:nth-child(1) > #cont > div:nth-child(2) > div:nth-child(2) a:hover {
    color: var(--warning);
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  #footer > div:nth-child(1) > #cont > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  #footer > div:nth-child(1) > #cont > div:nth-child(3) > div:nth-child(1) > span:hover {
    color: var(--warning-light);
  }
  #footer > div:nth-child(2) {
    text-align: center;
    color: var(--warning);
    text-transform: capitalize;
    font-size: 15px;
  }
  #footer > a {
    position: absolute;
    bottom: 20px;
    right: 5px;

  }
}

/* Small */
@media screen and  (min-width: 576px) and (max-width: 767px) {
  /* NavBar */
  nav {
    width: 100%;
    height: max-content;
  }
  nav #navBrand.active {
    margin-top: -114px;
  }
  nav #navContent #toggleBtn {
    margin-bottom: 15px;
  }
  nav #navContent #toggleBtn.active {
    margin-left: -48px;
    color: var(--second-color);
    background: var(--main-color);
    border: 1px solid var(--second-color);
  }
  nav #navContent #menu.active {
    display: flex;
    flex-direction: column;
  }
  nav #navContent #menu {
    display: none;
  }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-top: 100px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 50px;
    gap: 50px;
  }
  #main section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--light);
    color: var(--dark);
    padding: 15px;
    border: 0;
    border-radius: 5px;
  }
  #main section .header {
    font-size: 30px;
    color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
  }
  #main section .division {
    border: 5px solid var(--danger-light);
    margin: 0 -30px;
  }
  #main section:nth-child(2) > div:nth-child(3) > .header,
  #main section:nth-child(3) > div:nth-child(3) > .header {
    margin-top: 15px;
  }
  #main section:nth-child(2) > div > div:nth-child(2),
  #main section:nth-child(3) > div > div:nth-child(2) {
    margin-bottom: 15px;
  }

  #main section:nth-child(3) > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

/* Medium */
@media screen and  (min-width: 768px) and (max-width: 992px) {
  nav {
    width: 100%;
  }
  nav #navContent #toggleBtn {
    display: none;
  }
  nav #navContent #menu {
    margin-top: 18px;
    gap: 10px;
  }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-top: 100px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 50px;
    gap: 50px;
  }
  #main section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--light);
    color: var(--dark);
    padding: 15px;
    border: 0;
    border-radius: 5px;
  }
  #main section .header {
    font-size: 30px;
    color: var(--main-color);
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
  }
  #main section .division {
    border: 5px solid var(--danger-light);
    margin: 0 -20px;
  }
  #main section:nth-child(2) > div:nth-child(3) > .header,
  #main section:nth-child(3) > div:nth-child(3) > .header {
    margin-top: 15px;
  }
  #main section:nth-child(2) > div > div:nth-child(2),
  #main section:nth-child(3) > div > div:nth-child(2) {
    margin-bottom: 15px;
  }

  #main section:nth-child(3) > div:nth-child(3) > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .footer {
    width: 100%;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .footer > div:nth-child(1) {
    display: flex;
    flex-direction: row;
  }
  

}


/* Large */
@media screen and  (min-width: 992px) and (max-width: 1200px) {
  nav {
    width: 100%;
  }
  nav #navContent #toggleBtn {
    display: none;
  }
  nav #navContent #menu {
    margin-top: 18px;
    gap: 10px;
  }

  #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-top: 100px;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  #main section {
    display: flex;
    flex-direction: row;
    background: var(--light);
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    gap: 20px;
    margin-bottom: 40px;
  }
  #main section .header {
    font-size: 30px;
    font-weight: 750;
    color: var(--main-color);
  }
  #main section .text-body {
    color: var(--dark)
  }
  #main section .division {
    border: 7.5px solid var(--danger-light);
    margin: 0 -30px;
  }
  #main section:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  #main section:nth-child(2) > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #main section:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
  #main section:nth-child(3) > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #main section:nth-child(3) > div:nth-of-type(3) > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

}


/* Extra Large */
@media screen and  (min-width: 1200px) {
  nav {
    width: 100%;
  }
  nav #navContent #toggleBtn {
    display: none;
  }
  nav #navContent #menu {
    margin-top: 18px;
    gap: 10px;
  }

    #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-top: 100px;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  #main section {
    display: flex;
    flex-direction: row;
    background: var(--light);
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    gap: 20px;
    margin-bottom: 40px;
  }
  #main section .header {
    font-size: 30px;
    font-weight: 750;
    color: var(--main-color);
  }
  #main section .text-body {
    color: var(--dark)
  }
  #main section .division {
    border: 7.5px solid var(--danger-light);
    margin: 0 -30px;
  }
  #main section:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  #main section:nth-child(2) > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #main section:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
  #main section:nth-child(3) > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #main section:nth-child(3) > div:nth-of-type(3) > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}


/* X-Extra Large */
@media screen and  (min-width: 1400px) {
  nav {
    width: 100%;
  }
  nav #navContent #toggleBtn {
    display: none;
  }
  nav #navContent #menu {
    margin-top: 18px;
    gap: 10px;
  }

    #main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    padding-top: 100px;
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  #main section {
    display: flex;
    flex-direction: row;
    background: var(--light);
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 20px;
    gap: 20px;
    margin-bottom: 40px;
  }
  #main section .header {
    font-size: 30px;
    font-weight: 750;
    color: var(--main-color);
  }
  #main section .text-body {
    color: var(--dark)
  }
  #main section .division {
    border: 7.5px solid var(--danger-light);
    margin: 0 -30px;
  }
  #main section:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  #main section:nth-child(2) > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #main section:nth-child(3) {
    display: flex;
    flex-direction: column;
  }
  #main section:nth-child(3) > div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #main section:nth-child(3) > div:nth-of-type(3) > div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}
