/* This is the Register stylesheet */

html {
  scroll-behavior: smooth;
  transition: all 0.3s;
}

body {
  padding: 0;
  margin: 0;
  background: var(--danger-light);
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* Website main colors */
  --background-color: #faf3ea;
  --main-color: #691c48;
  --second-color: #bd842d;

  /* Primary colors */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: ##17a2b8;

  /* Secondary colors */
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --dark: #212529;
  --light: #f8f9fa;

  /* Success colors */
  --success: #28a745;
  --success-dark: #1b7f4a;
  --success-light: #c6f4d6;

  /* Info colors */
  --info: #17a2b8;
  --info-dark: #0f6ab4;
  --info-light: #b8daff;

  /* Warning colors */
  --warning: #ffc107;
  --warning-dark: #ff9900;
  --warning-light: #fff3cd;

  /* Danger colors */
  --danger: #dc3545;
  --danger-dark: #bd2130;
  --danger-light: #f1b9b9;

  /* Neutral colors */
  --neutral: #6c757d;
  --neutral-dark: #343a40;
  --neutral-light: #f7f7f7;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--warning-light);
  padding: 5px 15px;
  z-index: 100;
}
nav #navBrand {
  width: max-content;
  display: flex;
  align-content: center;
  align-items: center;
  color: var(--main-color);
}
nav #navBrand a {
  text-decoration: none;
  color: var(--main-color);
  width: max-content;
  display: flex;
  align-content: center;
  align-items: center;
}
nav #navBrand img {
  width: 100px;
  height: auto;
}
nav #navBrand span {
  font-weight: bold;
  font-size: x-large;
  margin-left: -15px;
}
nav #navContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 25%;
  padding-right: 40px;
}
nav #navContent #toggleBtn::before {
  content: "\2630";
}
#toggleBtn {
  color: var(--main-color);
  background: var(--second-color);
  border: 0.5px solid var(--main-color);
  border-radius: 4px;
}

nav #navContent #menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  gap: 5px;
}
nav #navContent #menu .nav-menu {
  font-size: medium;
}
nav #navContent #menu .nav-menu a {
  text-decoration: none;
  color: var(--main-color);
  cursor: default;
  transition: all 0.3s;
}
nav #navContent #menu .nav-menu .navBtn {
  padding: 5px 20px;
  font-size: medium;
  border-radius: 25px;
  border: none;
  color: var(--warning);
  background: var(--main-color);
  font-weight: bold;
  transition: all 0.2s;
}
nav #navContent #menu .nav-menu .navBtn:hover {
  background: var(--warning);
  color: var(--main-color);
}
nav #navContent #menu .nav-menu .navBtn:active {
  background: var(--warning-dark);
}
nav #navContent #menu .nav-menu a:hover {
  color: var(--warning);
  text-decoration: underline;
  text-underline-offset: 10px;
}

main {
  margin: 0;
  padding: 0;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
main .form-container {
  width: 500px;
  height: max-content;
  padding: 20px 10px;
  background: var(--background-color);
  position: relative;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-auto-rows: max-content;
  border: 1px solid var(--dark);
  overflow: hidden;
  border-radius: 30px;
}
main .form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 500px;
  height: 100%;
  background: transparent;
  position: relative;
  transition: 0.2s ease-in-out;
  color: var(--dark);
}

/* LOGIN */
main .form-container form:nth-of-type(1) {
  left: 0;
  top: auto;
  bottom: auto;
  right: auto;
  transition: 0.2s ease-in-out;
}
main .form-container form:nth-of-type(1) span:nth-of-type(1) {
  font-size: small;
  margin-top: -10px;
  color: var(--dark);
}
main .form-container form:nth-of-type(1) span:nth-of-type(1) a {
  cursor: default;
  color: var(--main-color);
}
main .form-container form:nth-of-type(1) span:nth-of-type(1) a:hover {
  color: var(--warning-dark);
  text-decoration: underline;
  text-underline-offset: 5px;
}
main .form-container form:nth-of-type(1) .header {
  font-size: xx-large;
  color: var(--dark);
  margin: 10px 0;
  margin-bottom: 25px;
  font-weight: bold;
}
main .form-container form:nth-of-type(1) div:nth-of-type(2) {
  width: 90%;
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 10px;
  border: none;
  border-radius: 30px;
  background: var(--warning-light);
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 15px;
}
main .form-container form:nth-of-type(1) div:nth-of-type(2):hover {
  background: var(--danger-light);
}
main .form-container form:nth-of-type(1) div:nth-of-type(2).focused {
  background: var(--danger-light);
}
main .form-container form:nth-of-type(1) div:nth-of-type(2) input {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: auto 10px auto 10px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: var(--dark);
}
main .form-container form:nth-of-type(1) div:nth-of-type(2) img {
  width: 20px;
}
main .form-container form:nth-of-type(1) div:nth-of-type(3) {
  width: 90%;
  display: flex;
  flex-direction: row;
  height: 30px;
  gap: 10px;
  border: none;
  border-radius: 30px;
  background: var(--warning-light);
  padding: 5px 10px;
  margin: 0;
  margin-bottom: 15px;
}
main .form-container form:nth-of-type(1) div:nth-of-type(3):hover {
  background: var(--danger-light);
}
main .form-container form:nth-of-type(1) div:nth-of-type(3).focused {
  background: var(--danger-light);
}
main .form-container form:nth-of-type(1) div:nth-of-type(3) input {
  background: transparent;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: auto 10px auto 10px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: var(--dark);
}
main .form-container form:nth-of-type(1) div:nth-of-type(3) img {
  width: 20px;
}
main .form-container form:nth-of-type(1) div:nth-of-type(4) {
  width: 93%;
  padding: 5px 10px;
  height: 40px;
}
main .form-container form:nth-of-type(1) div:nth-of-type(4) input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: var(--warning);
  background: var(--main-color);
  border-radius: 30px;
  font-size: 17px;
  font-weight: bolder;
  text-align: center;
  transition: 0.2s ease-in-out;
}
main .form-container form:nth-of-type(1) div:nth-of-type(4) input:hover {
  background: var(--warning);
  color: var(--main-color);
}
main .form-container form:nth-of-type(1) div:nth-of-type(4) input:active {
  background: var(--warning-dark);
  color: var(--main-color);
}
::placeholder {
  color: var(--neutral);
}
main .form-container form:nth-of-type(1) div:nth-of-type(5) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  align-content: center;
  padding: 3px;
}
main
  .form-container
  form:nth-of-type(1)
  div:nth-of-type(5)
  span:nth-of-type(1) {
  display: flex;
  gap: 5px;
  margin-top: 4px;
}
main .form-container form:nth-of-type(1) div:nth-of-type(5) a {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.2s ease-in-out;
  font-size: small;
}
main .form-container form:nth-of-type(1) div:nth-of-type(5) a:hover {
  color: var(--warning);
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* REGISTER */
main .form-container form:nth-of-type(2) {
  right: -320px;
  transition: 0.2s ease-in-out;
}
main .form-container form:nth-of-type(2) span:nth-of-type(1) {
  margin-top: -10px;
  font-size: small;
  color: var(--dark);
}
main .form-container form:nth-of-type(2) span:nth-of-type(1) a {
  text-decoration: none;
  color: var(--main-color);
  font-size: small;
}
main .form-container form:nth-of-type(2) span:nth-of-type(1) a:hover {
  color: var(--warning);
  text-decoration: underline;
  text-underline-offset: 5px;
}
main .form-container form:nth-of-type(2) .header {
  color: var(--dark);
  font-size: xx-large;
  font-weight: bolder;
  margin: 10px 0;
  margin-bottom: 30px;
}
main .form-container form:nth-of-type(2) div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  width: 95%;
  height: 30px;
  padding: 3px 0;
  margin-bottom: 15px;
}
main .form-container form:nth-of-type(2) div:nth-of-type(2) div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: 5px;
  height: 100%;
  margin: 0;
  margin-right: 10px;
  background: var(--warning-light);
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 30px;
}
main
  .form-container
  form:nth-of-type(2)
  div:nth-of-type(2)
  div:nth-of-type(1)
  input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: var(--dark);
}
main
  .form-container
  form:nth-of-type(2)
  div:nth-of-type(2)
  div:nth-of-type(1)
  img {
  width: 20px;
}
main .form-container form:nth-of-type(2) div:nth-of-type(2) div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
  width: 50%;
  height: 100%;
  margin: 0;
  background: var(--warning-light);
  padding: 5px 0px 5px 10px;
  border: none;
  border-radius: 30px;
}
main
  .form-container
  form:nth-of-type(2)
  div:nth-of-type(2)
  div:nth-of-type(2)
  input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: var(--dark);
}
main
  .form-container
  form:nth-of-type(2)
  div:nth-of-type(2)
  div:nth-of-type(2)
  img {
  width: 20px;
}
main .form-container form:nth-of-type(2) div:nth-of-type(3) {
  /* Email */
  display: flex;
  flex-direction: row;
  background: var(--warning-light);
  gap: 10px;
  height: 30px;
  width: 92%;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  margin: 0;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
main .form-container form:nth-of-type(2) div:nth-of-type(3) input {
  width: 100%;
  font-size: 15px;
  border: 0;
  outline: 0;
  background: transparent;
}
main .form-container form:nth-of-type(2) div:nth-of-type(3) img {
  width: 20px;
}
main .form-container form:nth-of-type(2) div:nth-of-type(4) {
  /* Password */
  display: flex;
  flex-direction: row;
  background: var(--warning-light);
  gap: 10px;
  height: 30px;
  width: 92%;
  padding: 5px 10px 5px 10px;
  border-radius: 30px;
  margin: 0;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
main .form-container form:nth-of-type(2) div:nth-of-type(4) input {
  width: 100%;
  font-size: 15px;
  border: 0;
  outline: 0;
  background: transparent;
}
main .form-container form:nth-of-type(2) div:nth-of-type(4) img {
  width: 20px;
}
main .form-container form:nth-of-type(2) div:nth-of-type(5) {
  width: 95%;
  border: none;
  height: 40px;
  border-radius: 30px;
  margin-bottom: 10px;
}
main .form-container form:nth-of-type(2) div:nth-of-type(5) input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  background: var(--main-color);
  color: var(--warning);
  border-radius: 30px;
}
main .form-container form:nth-of-type(2) div:nth-of-type(5) input:hover {
  background: var(--warning);
  color: var(--main-color);
}
main .form-container form:nth-of-type(2) div:nth-of-type(5) input:active {
  background: var(--warning-dark);
  color: var(--main-color);
}

main .form-container form:nth-of-type(2) span:nth-of-type(2) a {
  /* Terms and conditions */
  text-decoration: none;
  color: var(--main-color);
  font-size: small;
}
main .form-container form:nth-of-type(2) span:nth-of-type(2) a:hover {
  color: var(--warning);
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* RESPONSIVE */

/* Extra Small */
@media screen and (max-width: 575px) {
  nav {
    height: 40px;
  }
  #navbar.active {
    height: max-content;
  }
  nav #navBrand {
    margin-top: -1.5%;
    margin-bottom: auto;
    margin-left: -2%;
    margin-right: auto;
  }
  nav #navBrand img {
    width: 55px;
  }
  nav #navBrand span {
    font-size: large;
    margin-left: 0;
  }
  nav #navContent {
    display: flex;
    flex-direction: column;
  }
  nav #navContent #toggleBtn {
    margin-top: 7%;
    transition: all 0.3s;
  }
  nav #navContent #toggleBtn.active {
    margin-left: 0px;
    margin-right: auto;
    background: var(--main-color);
    border: 1.5px solid var(--second-color);
    color: var(--second-color);
  }
  nav #navContent #menu {
    display: none;
  }
  nav #navContent #menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
  }
  nav #navContent #menu.active li {
    text-align: start;
    margin-right: auto;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  nav #navContent #menu.active li:nth-of-type(1) {
    margin-left: 4%;
  }
}

/* Small */
@media screen and (min-width: 576px) and (max-width: 767px) {
  #navbar.active {
    height: max-content;
  }
  nav #navBrand {
    margin-top: -3%;
    margin-bottom: auto;
    margin-left: -2%;
    margin-right: auto;
  }
  nav #navContent {
    display: flex;
    flex-direction: column;
  }
  nav #navContent #toggleBtn {
    margin-top: 15%;
    transition: all 0.3s;
  }
  nav #navContent #toggleBtn.active {
    margin-left: 0px;
    margin-right: auto;
    background: var(--main-color);
    border: 1.5px solid var(--second-color);
    color: var(--second-color);
  }
  nav #navContent #menu {
    display: none;
  }
  nav #navContent #menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
  }
  nav #navContent #menu.active li {
    text-align: start;
    margin-right: auto;
    margin-left: 0px;
    margin-bottom: 10px;
  }
}

/* Medium */
@media screen and (min-width: 768px) and (max-width: 991px) {
  nav #navContent #toggleBtn {
    display: none;
  }
  nav #navContent {
    width: max-content;
    padding-right: 0%;
  }
  nav #navContent #menu {
    gap: 20px;
  }
  nav #navContent #menu .last-menu {
    margin-right: 30px;
  }

  main .form-container {
    width: 250px;
    height: max-content;
    padding: 20px 10px;
    background: var(--background-color);
    position: relative;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-auto-rows: max-content;
    border: 1px solid var(--dark);
    overflow: hidden;
    border-radius: 30px;
  }
  main .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 250px;
    height: 100%;
    background: transparent;
    position: relative;
    transition: 0.2s ease-in-out;
    color: var(--dark);
  }
}

/* Large */
@media screen and (min-width: 992px) {
  nav #navContent #toggleBtn {
    display: none;
  }
  nav #navContent {
    width: max-content;
  }
  nav #navContent #menu {
    gap: 20px;
  }
  nav #navContent #menu .last-menu {
    margin-right: 20px;
  }
}
