/* This is the Stylesheet for the Homepage */

html {
  scroll-behavior: smooth;
  transition: all 0.2s;
}

body {
  padding: 0;
  margin: 0;
  /* background: blanchedalmond */
  background: var(--danger-light);
}

:root {
  /* Website main colors */
  --background-color: #faf3ea;
  --main-color: #691c48;
  --second-color: #bd842d;

  /* Primary colors */
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: ##17a2b8;

  /* Secondary colors */
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --dark: #212529;
  --light: #f8f9fa;

  /* Success colors */
  --success: #28a745;
  --success-dark: #1b7f4a;
  --success-light: #c6f4d6;

  /* Info colors */
  --info: #17a2b8;
  --info-dark: #0f6ab4;
  --info-light: #b8daff;

  /* Warning colors */
  --warning: #ffc107;
  --warning-dark: #ff9900;
  --warning-light: #fff3cd;

  /* Danger colors */
  --danger: #dc3545;
  --danger-dark: #bd2130;
  --danger-light: #f1b9b9;

  /* Neutral colors */
  --neutral: #6c757d;
  --neutral-dark: #343a40;
  --neutral-light: #f7f7f7;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--warning-light);
  padding: 5px 15px;
  z-index: 100;
}
nav #navBrand {
  width: max-content;
  display: flex;
  align-content: center;
  align-items: center;
  color: var(--main-color);
  margin-top: 5px;
}
nav #navBrand a {
  text-decoration: none;
  color: var(--main-color);
  width: max-content;
  height: 100%;
  display: flex;
}
nav #navBrand img {
  width: 75px;
  height: 75px;
  margin-top: -15px;
}
nav #navBrand span {
  font-weight: bold;
  font-size: x-large;
  margin-left: -15px;
}
nav #navContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: 25%;
}
nav #navContent #toggleBtn::before {
  content: "\2630";
}
#toggleBtn {
  color: var(--main-color);
  background: var(--second-color);
  border: 0.5px solid var(--main-color);
  border-radius: 4px;
  transition: all 0.3s;
}

nav #navContent #menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0;
  padding-top: 5%;
  gap: 5px;
}
nav #navContent #menu .nav-menu {
  font-size: medium;
}
nav #navContent #menu .nav-menu a {
  text-decoration: none;
  color: var(--main-color);
  cursor: default;
  transition: all 0.3s;
}
nav #navContent #menu .nav-menu a:hover {
  color: var(--second-color);
  text-decoration: underline;
  text-underline-offset: 3px;
}

#header {
  padding: 0px;
  padding-top: 62px;
  position: relative;
}
#header span img {
  width: 75px;
  position: absolute;
  z-index: 99;
}
#header ul {
  list-style: none;
}
#header p {
  color: var(--main-color);
}

main {
  width: 100%;
  padding: 30px 10px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main section {
  background: var(--white);
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 10px 10px;
  color: var(--dark);
}
main section .header {
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  width: 100%;
  align-items: center;
  margin-bottom: 90px;
  margin-top: 30px;
}
main section .header img {
  width: 30px;
}
main section .header i {
  font-size: 20px;
}
main section .content {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main section .content #knowMore a {
  text-decoration: none;
  color: var(--main-color);
}
main section .content #knowMore a:hover {
  color: var(--second-color);
  text-decoration: underline;
  text-underline-offset: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--main-color);
  color: var(--light);
  padding: 15px;
  padding-bottom: 0;
  padding-top: 25px;
  margin-top: 30px;
}
footer li {
  list-style: none;
  margin-bottom: 10px;
  width: max-content;
}
footer a {
  text-decoration: none;
  color: var(--light);
  cursor: default;
}
footer div:nth-of-type(1) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer div:nth-of-type(1) div {
  display: flex;
  flex-direction: column;
  width: 28%;
  align-items: center;
}
footer div:nth-of-type(1) div h3:hover {
  color: var(--warning-light);
  cursor: default;
}
footer div:nth-of-type(1) div:nth-of-type(2) h3 {
  margin-bottom: 10%;
}
footer div:nth-of-type(1) div:nth-of-type(2) a:hover {
  color: var(--warning);
  text-decoration: underline;
  text-underline-offset: 3px;
}
footer div:nth-of-type(1) div:nth-of-type(2) img {
  margin-top: -2px;
}
footer div:nth-of-type(1) div:nth-of-type(2) span {
  color: var(--warning);
}
footer div:nth-of-type(1) div:nth-of-type(3) h3 {
  margin-bottom: 10%;
}
footer div:nth-of-type(1) div:nth-of-type(3) a:hover {
  color: var(--warning);
  text-decoration: underline;
  text-underline-offset: 3px;
}
footer div:nth-of-type(2) {
  width: 100%;
}
footer div:nth-of-type(2) a {
  text-align: end;
}

/* RESPONSIVENESS */

/* Extra small */
@media screen and (max-width: 575px) {
  #navbar.active {
    height: max-content;
  }
  nav #navBrand img {
    width: 50px;
    margin-top: 0px;
  }
  nav #navBrand span {
    font-size: medium;
    margin-left: 0px;
    margin-top: 20px;
  }
  nav #navContent {
    display: flex;
    flex-direction: column;
  }
  nav #navContent #toggleBtn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0px;
  }
  nav #navContent #toggleBtn.active {
    margin-left: auto;
    margin-right: 0px;
    background: var(--main-color);
    border: 1.5px solid var(--second-color);
    color: var(--second-color);
  }
  nav #navContent #menu {
    display: none;
  }
  nav #navContent #menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
  }
  nav #navContent #menu.active li {
    text-align: start;
    margin-right: auto;
    margin-left: 0px;
  }

  footer div:nth-of-type(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  footer h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  footer ul li {
    margin-left: 10%;
    margin-right: auto;
    width: max-content;
  }
  footer div:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: start;
  }
  footer div:nth-of-type(1) div h3 {
    text-align: center;
  }
  footer div:nth-of-type(1) div:nth-of-type(2) h3 {
    margin-bottom: 0;
  }
  footer div:nth-of-type(1) div:nth-of-type(3) h3 {
    margin-bottom: 0;
  }
}

/* Small */
@media screen and (min-width: 576px) and (max-width: 767px) {
  #navbar.active {
    height: max-content;
  }
  nav #navContent {
    display: flex;
    flex-direction: column;
  }
  nav #navContent #toggleBtn {
    margin-top: 14px;
    transition: all 0.3s;
  }
  nav #navContent #toggleBtn.active {
    margin-left: 0px;
    margin-right: auto;
    background: var(--main-color);
    border: 1.5px solid var(--second-color);
    color: var(--second-color);
  }
  nav #navContent #menu {
    display: none;
  }
  nav #navContent #menu.active {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
  }
  nav #navContent #menu.active li {
    text-align: start;
    margin-right: auto;
    margin-left: 0px;
  }

  footer div:nth-of-type(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  footer h3 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  footer ul li {
    margin-left: 10%;
    margin-right: auto;
    width: max-content;
  }
  footer div:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: start;
  }
  footer div:nth-of-type(1) div h3 {
    text-align: center;
  }
  footer div:nth-of-type(1) div:nth-of-type(2) h3 {
    margin-bottom: 0;
  }
  footer div:nth-of-type(1) div:nth-of-type(3) h3 {
    margin-bottom: 0;
  }
}

/* Medium */
@media screen and (min-width: 768px) {
  nav #navBrand a img {
    height: auto;
  }
  nav #navContent #toggleBtn {
    display: none;
  }
  nav #navContent {
    width: max-content;
  }
  nav #navContent #menu {
    gap: 20px;
  }
  nav #navContent #menu .last-menu {
    margin-right: 20px;
  }
}
